.box{
  position:absolute;
    top: 35%;
    left: 60%;
    width:30em;
    height:30em;
    margin-top: -9em; 
    margin-left: -15em; 
    background-color:#F08080;
    border-radius: 0px 30px 30px 0px;
}
.box1{
  position:absolute;
    top: 35%;
    left: 40%;
    width:30em;
    height:30em;
    margin-top: -9em; 
    margin-left: -15em; 
    background-color:#F08080;
    border-radius: 30px 0px 0px 30px;
}
.inputF{
    width: 60%;
    padding: 18px 22px;  
    border-radius: 10px;
    color: black;
    background-color: #FFFFFF; 
    display:flex;
    justify-content:space-between; 
    margin-top: 20px;
    margin-left: 90px;
    border: 0px;
    
    
}

.cityName{
display: flex;
justify-content: center;
margin-top:5px;
color:white
}
.temp{
display: flex;
justify-content: center;
margin-top:5px;
color:white
}
.sun{
    display: flex;
    justify-content:flex-start;
    margin-top: 95px;
}